* {
  margin:0;
  padding:0
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  align-items: stretch;
  display: flex;
}

html {
  height: 100%;
  background: #eee;
  background-image:
    linear-gradient(90deg, #ee0000dd 0%, #0000eedd 100%),
    linear-gradient(-225deg, #ee0000dd 0%, #0000eedd 30%, #0000ee00 30%, #0000ee00 100%),
    linear-gradient(225deg, #ee0000dd 0%, #0000eedd 60%, #0000ee00 30%, #0000ee00 100%);
  background-attachment: fixed;
}

#root {
  flex-grow: 1;
  display: flex;
}
